.Carousel__title {
  color: var(--neutral-white);
  margin-bottom: 24px;
}

.Carousel__items {
  display: flex;
  gap: 32px;
  padding-bottom: 10px;
  overflow-x: scroll;
  scrollbar-color: var(--neutral-50) var(--neutral-90);
}
