.loading {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  border: 20px solid var(--neutral-80);
  border-top: 20px solid var(--neutral-50);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Page__markdown {
  max-width: 800px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.Page__markdown p {
  line-height: 2rem;
  margin-bottom: 2rem;
  color: var(--neutral-05);
}

.Page__markdown h1::selection,
.Page__markdown h2::selection,
.Page__markdown h3::selection,
.Page__markdown h4::selection,
.Page__markdown h5::selection,
.Page__markdown h6::selection,
.Page__markdown p::selection,
.Page__markdown em::selection,
.Page__markdown strong::selection,
.Page__markdown li::selection,
.Page__markdown a::selection,
.Page__markdown img::selection,
.Page__markdown code::selection,
.Page__markdown text::selection,
.Page__markdown div::selection,
.Page__markdown span::selection,
.Page__markdown th::selection,
.Page__markdown td::selection {
  background: var(--neutral-50);
  color: var(--neutral-white);
}

.Page__markdown h1,
.Page__markdown h2,
.Page__markdown h3,
.Page__markdown h4,
.Page__markdown h5,
.Page__markdown h6 {
  margin-bottom: 2rem;
  overflow: auto hidden;
}

.Page__markdown blockquote {
  background: var(--neutral-80);
  border-left: 0.5rem solid var(--neutral-50);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.5em 1rem;
  padding-top: 20px;
}

.Page__markdown ul,
.Page__markdown ol {
  margin-left: 16px;
}

.Page__markdown li {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--neutral-05);
}

.Page__markdown pre {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--neutral-05);
  background-color: var(--neutral-100);
  padding: 3rem 2rem;
  margin-bottom: 2rem;
  position: relative;
  border-radius: 1rem;
}

.Page__markdown pre div {
  overflow-x: scroll;
}

.Page__markdown pre code::before {
  content: "";
  background-color: var(--colorful-red);
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
}

.Page__markdown pre::before {
  content: "";
  background-color: var(--colorful-yellow);
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 25px;
  border-radius: 50%;
}

.Page__markdown pre::after {
  content: "";
  background-color: var(--colorful-green);
  padding: 5px;
  position: absolute;
  top: 10px;
  left: 40px;
  border-radius: 50%;
}

.Page__markdown hr {
  border-top: 0.2rem solid var(--neutral-50);
  margin-bottom: 2rem;
}

.Page__markdown a {
  color: var(--neutral-05);
  text-decoration: underline !important;
}

.Page__markdown img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 540px;
  margin: 0 auto;
}

.Page__markdown .katex {
  font-size: 1.6rem;
  color: var(--neutral-05);
}

.Page__markdown iframe {
  border-radius: 1rem;
  width: 80%;
  max-width: 540px;
  margin: 0 auto 2rem auto;
  display: block;
  height: 320px;
}

.Page__markdown table {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--neutral-05);
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

.Page__markdown table td,
.Page__markdown table th {
  border: 1px solid var(--neutral-20);
  padding: 8px;
}

.Page__markdown tr:nth-child(even) {
  background-color: var(--neutral-80);
}

.Page__markdown tr:hover {
  background-color: var(--neutral-90);
}

.Page__markdown th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--neutral-100);
  color: white;
}

.katex-display {
  overflow: auto hidden;
}

@media (max-width: 600px) {
  .Page__markdown img {
    width: 100%;
  }
  .Page__markdown iframe {
    width: 100%;
    height: 240px;
  }
}
