.Page {
  width: calc(100% - 240px);
  margin-left: 240px;
  background: var(--neutral-90);
  transition: all 1s ease-in-out;
}

.Page.amplied {
  width: calc(100% - 72px);
  margin-left: 72px;
}

.Page__content {
  width: 100%;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 600px) {
  .Page,
  .Page.amplied {
    margin-left: 0;
    width: 100%;
  }
}
